:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/bg-desktop.svg');
  background-color: var(--violet);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 90vw;
  height: 95vh;
}

.header>img {
  width: 12vw;
}

.header {
  margin-top: 4vh;
}

.box {
  display: flex;
  margin-top: 10vh;
}

#img > img {
  width: 50vw;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}